@import "../../style/style.scss";

.container {
  display: flex;
  padding: 0 4rem;
  padding-top: 1.5rem;
  height: calc(100vh - 8.5rem);

  .navigation-and-img {
    display: flex;
    flex-direction: column;

    .navigation {
      margin: 0.8rem;
      font-weight: bold;
      color: $primary-color;
      cursor: pointer;
    }
    .img-product {
      display: flex;
      height: fit-content;
      img {
        max-width: 100%;
        border-radius: 1.5rem;
        -webkit-box-shadow: 0px 0px 25px 1px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 0px 0px 25px 1px rgba(0, 0, 0, 0.3);
        box-shadow: 0px 0px 25px 1px rgba(0, 0, 0, 0.3);
      }
    }
  }

  app-product-overview {
    width: 60%;
  }
}
