<div class="header">
    <div class="burger-menu">
    </div>
    <a class="logo" [routerLink]="['/']"><img src="../../assets/logo/logo.svg"></a>
    <div class="action">
        <div class="action-elements">
            <app-searchbar></app-searchbar>
            <app-header-buttons [isAuthenticated]=isAuthenticated [bubbleAccountHover]=bubbleAccountHover
                (authDialog)="openAuthDialog()" (signout)="onSignOut()"></app-header-buttons>
        </div>
        <app-header-categories></app-header-categories>
    </div>
</div>