<div class="filters">
    <div class="label">{{'filter.promo' | translate}}</div>
    <mat-checkbox color="primary">{{'filter.flash-sales' | translate}}</mat-checkbox>
    <div class="line"></div>
    <div class="label">{{'filter.advice-practitioners' | translate}}</div>
    <div>
        <app-rating [fullStar]=4></app-rating>{{'filter.and-more' | translate}}
    </div>
    <div>
        <app-rating [fullStar]=3></app-rating>{{'filter.and-more' | translate}}
    </div>
    <div>
        <app-rating [fullStar]=2></app-rating>{{'filter.and-more' | translate}}
    </div>
    <div>
        <app-rating [fullStar]=1></app-rating>{{'filter.and-more' | translate}}
    </div>
    <div class="line"></div>
    <div class="label">{{'filter.price' | translate}}</div>
    <div class="custom-slider">
        <ngx-slider [(value)]="value" [(highValue)]="highValue" [options]="options"></ngx-slider>
        <div class="amount-product">1037 {{'filter.products' | translate}}</div>
    </div>
    <div class="line"></div>
    <div class="label">{{'filter.delivery' | translate}}</div>
    <mat-checkbox color="primary">24 {{'filter.hours' | translate}}</mat-checkbox>
    <mat-checkbox color="primary">48 {{'filter.hours' | translate}}</mat-checkbox>
    <mat-checkbox color="primary">72 {{'filter.hours' | translate}}</mat-checkbox>
    <mat-checkbox color="primary">4 {{'filter.days' | translate}}</mat-checkbox>
    <mat-checkbox color="primary">5 {{'filter.days' | translate}} {{'filter.and-more' | translate}}</mat-checkbox>
    <div class="line"></div>
    <div class="label">{{'filter.brands' | translate}}</div>
    <div class="brands">
        <mat-checkbox color="primary">{{'filter.brands' | translate}} 1</mat-checkbox>
        <mat-checkbox color="primary">{{'filter.brands' | translate}} 2</mat-checkbox>
        <mat-checkbox color="primary">{{'filter.brands' | translate}} 3</mat-checkbox>
        <mat-checkbox color="primary">{{'filter.brands' | translate}} 4</mat-checkbox>
        <mat-checkbox color="primary">{{'filter.brands' | translate}} 5</mat-checkbox>
        <mat-checkbox color="primary">{{'filter.brands' | translate}} 6</mat-checkbox>
        <mat-checkbox color="primary">{{'filter.brands' | translate}} 7</mat-checkbox>
    </div>
    <div class="line"></div>
    <div class="label">{{'filter.sellers' | translate}}</div>
    <mat-checkbox color="primary">Dentalix</mat-checkbox>
    <mat-checkbox color="primary">Mercura</mat-checkbox>
    <mat-checkbox color="primary">Allo Dent</mat-checkbox>
    <div class="line"></div>
    <div class="label">{{'filter.categories' | translate}}</div>
    <div class="categories">
        <a class="category" href="#">Draps d'examen</a>
        <a class="category" href="#">Gobelets</a>
        <a class="category" href="#">Canules</a>
        <a class="category" href="#">Divers</a>
        <a class="category" href="#">Essuyage</a>
    </div>
    <div class="line"></div>
    <div class="label">{{'filter.minimum-order' | translate}}</div>
    <mat-form-field appearance="outline">
        <mat-label>{{'filter.piece' | translate}}</mat-label>
        <input matInput autocomplete="off">
    </mat-form-field>
    <div class="line"></div>
    <div class="label">{{'filter.price-by-piece' | translate}}</div>
    <mat-form-field appearance="outline">
        <mat-label>{{'filter.price-by-piece-max' | translate}}</mat-label>
        <input matInput autocomplete="off">
        <mat-icon matSuffix>{{'filter.euro' | translate}}</mat-icon>
    </mat-form-field>
</div>