<div class="header-menu">
    <a href="#" [routerLink]="['/products']">{{'header.categories.general-practitioner' | translate}}</a>
    <a href="#" [routerLink]="['/products']">{{'header.categories.prosthesis' | translate}}</a>
    <a href="#" [routerLink]="['/products']">{{'header.categories.implotology' | translate}}</a>
    <a href="#" [routerLink]="['/products']">{{'header.categories.orthodontist' | translate}}</a>
    <a href="#" [routerLink]="['/products']">{{'header.categories.start-pack' | translate}}</a>
    <a href="#" [routerLink]="['/products']">{{'header.categories.student' | translate}}</a>
    <a href="#" [routerLink]="['/products']">{{'header.categories.green' | translate}}</a>
</div>