<div class="dialog">
    <img class="meden-logo" src="../../../assets/logo/logo.svg" alt="meden">
    <div *ngIf="!resetPassword" class="sign">
        <div class="sign-label">
            <div class="signup" (click)=changeSignMode(false)>
                <div class="label">{{'signup.title' | translate}}</div>
                <div *ngIf="!signinMode" class="line"></div>
            </div>
            <div class="signin" (click)=changeSignMode(true)>
                <div class="label">{{'signin.title' | translate}}</div>
                <div *ngIf="signinMode" class="line"></div>
            </div>
        </div>
        <app-signin-form *ngIf="signinMode" (snackbar)="openSnackBar($event)"></app-signin-form>
        <app-signup-form *ngIf="!signinMode" (snackbar)="openSnackBar($event)" (createUser)="createUser($event)">
        </app-signup-form>
    </div>
    <div *ngIf="resetPassword" class="reset-password">
        <div class="reset-password-label">{{('reset-password.label' | translate) | uppercase}}
        </div>
    </div>
    <div class="quick-access">{{'signup.quickAccess' | translate}}</div>
    <div class="social-network">
        <img class="logo" src="../../../assets/png/logo-doctolib.png" alt="doctolib">
        <img class="logo" src="../../../assets/png/logo-google.png" alt="google" (click)="loginWithGoogle()">
        <img class="logo" src="../../../assets/png/logo-linkedin.png" alt="linkedin">
        <img class="logo" src="../../../assets/png/logo-facebook.png" alt="facebook" (click)="loginWithFacebook()">
    </div>
</div>