@import "../style/style.scss";

.dialog {
  display: flex;
  background: linear-gradient(
    180deg,
    rgba(82, 210, 172, 1) 0%,
    rgba(51, 153, 173, 1) 70%,
    rgba(27, 48, 162, 1) 100%
  );
  border-radius: 3rem;
  width: 33vw;
  justify-content: center;
  padding: 1rem;
  flex-direction: column;
  align-items: center;
  border: 2px solid #ffffff;
  position: relative;

  .back-icon {
    position: absolute;
    width: 2rem;
    top: 2rem;
    left: 2rem;
    cursor: pointer;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.3));
    -webkit-filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.3));
    -moz-filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.3));
  }

  .meden-logo {
    width: 7.5rem;
    margin-bottom: 2rem;
  }

  .sign {
    display: flex;
    color: $primary-color;
    font-weight: bold;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    align-items: center;

    &-label {
      display: flex;
      flex-direction: row;
      font-size: 1.3rem;
      margin-bottom: 1rem;
    }

    .signin-title,
    .signup-title {
      display: flex;
      flex-direction: column;
      align-items: center;
      cursor: pointer;

      .line {
        margin-top: 2px;
        border-bottom: 2px solid $primary-color;
        width: 85%;
        margin-top: 3px;
      }
    }

    .signup-title {
      margin-right: 1rem;
    }

    app-signin-form,
    app-signup-form,
    app-reset-password {
      width: 75%;
    }
  }

  .quick-access {
    display: flex;
    flex-direction: column;
    color: #ffffff;
    font-weight: bold;
    font-size: large;
    align-items: center;

    .social-network {
      display: flex;
      justify-content: space-evenly;
      margin: 0 1rem;

      .logo {
        width: 3.6rem;
        height: 3.6rem;
        margin: 1.5rem 1rem;
        cursor: pointer;
        filter: drop-shadow(0px 2px 2px #ffffff);
        -webkit-filter: drop-shadow(0px 2px 2px #ffffff);
        -moz-filter: drop-shadow(0px 2px 2px #ffffff);
      }
    }
  }
}

::ng-deep {
  &.mat-dialog-container {
    padding: 0;
    box-shadow: unset;
    background: transparent;
  }
  &.snackbar-success {
    @extend .snackbar-success;
  }
  &.snackbar-error {
    @extend .snackbar-error;
  }
  &.snackbar-warning {
    @extend .snackbar-warning;
  }
}
