@import "../../style/style.scss";

.product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: $border-radius;
  width: 190px;
  color: $primary-color;
  -webkit-box-shadow: 0px 0px 25px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 25px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 25px 1px rgba(0, 0, 0, 0.3);
  padding: 1rem;
  margin: 0 1rem 1.5rem 0;

  mat-card-header {
    justify-content: center;
    mat-card-title {
      font-weight: bold;
    }
  }

  mat-card-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
    margin: 0;

    p {
      margin: 0;
    }

    .seller {
      display: flex;
      align-items: center;
      margin-top: 0.3rem;

      .flag {
        width: 0.9rem;
        margin-left: 0.3rem;
      }
    }

    .delivery-time {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
    }

    .product-price {
      font-weight: bold;
      font-size: x-large;
    }

    .rating {
      display: flex;
      span {
        color: #ffa41d;
        -webkit-text-stroke: 0.02rem $primary-color;
      }
      p {
        font-size: small;
        padding-left: 0.3rem;
      }
    }
  }

  mat-card-actions {
    display: flex;
    justify-content: center;

    button {
      background: linear-gradient(0deg, #52d2ac 0%, #33b5b3 0%, #1b30a2 100%);
      color: #ffffff;
      font-weight: bold;
    }
  }
}
