@import "../../style/style.scss";

.header-menu {
  display: flex;
  margin-left: 2rem;

  a {
    padding: 0 8px;
    color: #ffffff;
    text-decoration: none;
    text-shadow: 0px 0px 8px rgba(0, 0, 0, 1);
    border: 2px transparent solid;
    font-size: medium;
    white-space: nowrap;
  }

  a:hover {
    border: 2px $primary-color solid;
    border-radius: 10px;
  }
}
