<div *ngIf="!menuClosed" class="menu">
    <div class="header-menu" [ngClass]='{"header-menu-selected": itemHovered}'>
        <span *ngFor="let item of menuItems" (mouseover)="hoverMenuItem(item)"
            [ngClass]='{"menu-item-hover": itemHovered === item}'>{{item.name}}</span>
    </div>
    <div class="container-menu">
        <div class="sub-menu" *ngIf="menuItemSelected">
            <span *ngFor="let item of menuItemSelected.children" (mouseover)="hoverMenuItemChild(item)"
                [ngClass]='{"menu-item-child-hover": itemChildHovered === item}'>{{item.name}}</span>
        </div>
        <div class="detail-menu" *ngIf="menuItemChildSelected">
            <p>{{menuItemChildSelected.name}}</p>
            <span *ngFor="let item of menuItemChildSelected.children" (mouseover)="hoverMenuItemBaby(item)"
                [ngClass]='{"menu-item-baby-hover": itemBabyHovered === item}'>{{item.name}}</span>
        </div>
    </div>
</div>