<div class="container-xl">
    <span class="path"><span class="goback" (click)="goBack()">Revenir à la page précédente&nbsp;</span> |
        <span>&nbsp;Détail du
            panier</span></span>
    <h1 class="title-card">{{'cart.cart-detail' | translate}} :
        <div class="line"></div>
    </h1>
    <div *ngIf="(productsCartArray$ | async) as productsCartArray; else loading">
        <div class="row" *ngIf="productsCartArray.length > 0; else emptyCart">
            <app-product-card-cart class="col-lg-8" [productsCartArray]=productsCartArray
                (removeProductOutput)="removeProductFromCart($event)"
                (updateQuantityOutput)="updateQuantityProductCart($event)">
            </app-product-card-cart>
            <app-overview-cart class="col-lg-4" [totalAmount]=totalAmount [totalItems]=totalItems
                [totalSavingsRealized]=totalSavingsRealized></app-overview-cart>
        </div>
        <ng-template #emptyCart>
            <div class="col">Panier vide</div>
        </ng-template>
    </div>

    <ng-template #loading>
        <mat-spinner></mat-spinner>
    </ng-template>
</div>