<div class="container">
    <h1 class="title-card">{{'cart.cart-detail' | translate}} :
        <div class="line"></div>
    </h1>
    <div class="row">
        <app-product-card-cart class="col-lg-8" [productsCartArray$]=productsCartArray$
            (removeProductOutput)="removeProductFromCart($event)"
            (updateQuantityOutput)="updateQuantityProductCart($event)">
        </app-product-card-cart>
        <app-overview-cart class="col-lg-4" [totalAmount]=totalAmount [totalItems]=totalItems
            [totalSavingsRealized]=totalSavingsRealized></app-overview-cart>
    </div>
</div>