@import "../style/style.scss";

.path {
  position: absolute;
  left: 2%;
  @include font-size(1rem);
  color: #696969;
  .goback {
    cursor: pointer;
    text-decoration: underline;
  }
}
.title-card {
  text-align: center;
  font-weight: bold;
  margin: 1rem 0;
  padding: 0 10rem;

  .line {
    border-bottom: 1px solid #a0aaaa;
    margin: 1rem;
    align-self: center;
  }
}

mat-spinner {
  position: absolute;
  top: 45%;
  left: 45%;
}
