@import "../style/style.scss";

.cart {
  display: flex;
  flex-direction: column;
  margin: 2rem;

  .title-card {
    font-size: xx-large;
  }

  .line {
    border-bottom: 1px solid #a0aaaa;
    width: 33%;
    margin-top: 1rem;
  }

  .container {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    app-product-card-cart {
      width: 53%;
      margin-right: 3rem;
    }
    app-overview-cart {
      height: fit-content;
      position: sticky;
      top: 6rem;
    }
  }
}
