@import "../../../style/style.scss";

.product-overview {
  display: flex;
  flex-direction: column;
  margin: 1rem 2rem;
  .product-name {
    font-weight: bold;
    font-size: xx-large;
    margin-bottom: 1rem;
  }
  .seller {
    display: flex;
    align-items: center;
    font-size: large;
    margin-bottom: 1rem;

    &-brand {
      color: $primary-color;
      font-weight: bold;
      margin-left: 0.5rem;
    }
    .flag {
      width: 1.1rem;
      margin-left: 0.3rem;
    }
  }
  .rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 1rem;
    app-rating {
      font-size: 1.2rem;
    }
    mat-icon {
      color: $primary-color;
      vertical-align: bottom;
    }
    .evaluation {
      color: $primary-color;
      font-size: medium;
    }
    .contact {
      color: $primary-color;
      font-size: medium;
      font-weight: bold;
    }
  }
  .line {
    border-bottom: 1px solid #d5dbdb;
    width: 100%;
    margin: 0.5rem 0;
    align-self: center;
    margin-bottom: 0.5rem;
  }

  .price-and-action {
    display: flex;
    justify-content: space-between;
    padding-right: 2rem;
    .price {
      margin: 1rem 0;
      font-size: x-large;
      font-weight: bold;
      .amount {
        font-weight: bold;
        background: linear-gradient(
          300deg,
          rgba(82, 210, 172, 0.75) 0%,
          rgba(51, 153, 173, 0.75) 50%,
          rgba(27, 48, 162, 0.75) 100%
        );
        box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.5);
        -webkit-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.5);
        color: #ffffff;
        border-radius: 5px;
        padding: 0.5rem;
        text-shadow: 0px 0px 2px #000000;
      }
    }
    .action {
      img {
        width: 2.5rem;
        cursor: pointer;
      }
      .favorite,
      .wish-list {
        margin-right: 1rem;
      }
      .wish-list {
        width: 1.9rem;
      }
    }
  }

  .stock {
    margin-bottom: 1rem;
    font-weight: bold;
    font-size: large;
    margin-left: 3.2rem;
    .available {
      color: green;
    }
    .unavailable {
      color: red;
    }
  }
  .weight-article {
    margin-bottom: 1rem;
    font-weight: bold;
    font-size: large;
    .value {
      font-weight: normal;
    }
  }
  .disclaimer-article {
    margin-bottom: 1rem;
    font-weight: bold;
    font-size: large;
    .value {
      font-weight: normal;
    }
  }
  .brand {
    margin-bottom: 1rem;
    font-weight: bold;
    font-size: large;
    .value {
      font-weight: normal;
    }
  }
  .about {
    .label {
      margin-bottom: 1rem;
      font-weight: bold;
      font-size: large;
    }
    .value {
      font-weight: normal;
      font-size: medium;
      ul {
        list-style: none;
        list-style-type: "-";
        padding: 0;
        li {
          padding-left: 0.5rem;
        }
      }
    }
  }
}
