@import "./style/style.scss";

:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#page {
  background-color: #f0f2f5;
  display: flex;
  z-index: 2;
}

app-header {
  background-color: #10257f;
  color: #52d2ac;
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100%;
  z-index: 3;
}

app-container {
  margin: 6rem 2.5rem 2.5rem 2.5rem;
}

.background {
  background: linear-gradient(
    35deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(82, 210, 172, 1) 100%
  );
  display: flex;
  height: 100%;
  z-index: 1;
}

app-hamburger-icon {
  left: 1.9rem;
  position: fixed;
  top: 1.6rem;
  z-index: 100;
}
