@import "./style/style.scss";

:host {
  overflow-x: hidden;
}

#page {
  display: flex;
  flex-direction: column;
  height: 100vh;

  app-header {
    z-index: 10;
  }
}

.background {
  background: linear-gradient(
    218deg,
    rgba(82, 210, 172, 1) 0%,
    rgba(51, 153, 173, 1) 50%,
    rgba(27, 48, 162, 1) 100%
  );
}

#container {
  overflow-x: hidden;
  background-image: url("../assets/background/background.jpg");
  background-size: cover;
  width: 100vw;
  min-height: calc(100vh - 7rem);
}

app-hamburger-icon {
  position: fixed;
  left: 2rem;
  top: 2rem;
  z-index: 100;
}
