@import "../../style/style.scss";

form {
  display: flex;
  flex-direction: column;
  font-weight: bold;

  .input {
    cursor: text;
    outline: none;
    border-radius: $border-radius;
    border: 0;
    padding: 1rem;
    margin-top: 1rem;
  }

  .input-error {
    border: 1px solid red;

    &::placeholder {
      color: red;
      opacity: 1;
    }
    &:-ms-input-placeholder {
      color: red;
    }

    &::-ms-input-placeholder {
      color: red;
    }
  }

  .confirm-btn {
    background-color: $secondary-color;
    color: $primary-color;
    border-radius: $border-radius;
    border: 2px solid #ffffff;
    font-size: 1.3rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    font-weight: bold;
  }
}
