<mat-spinner *ngIf="!productsList"></mat-spinner>
<mat-card class="product-card" *ngFor="let product of productsList">
    <mat-card-header>
        <mat-card-title>{{product.name}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="{{product.img}}">
    <mat-card-content>
        <p>
            <span class="product-price">{{product.price | currency}}</span>
            <span>/ pcs</span>
        </p>
        <p>
            {{'product.from' | translate}} 10 {{'product.piece' | translate}}
        </p>
        <div class="rating">
            <app-rating [fullStar]=4></app-rating>
            <p>42 {{'product.advice' | translate}}</p>
        </div>
        <div class="seller">
            {{'product.seller' | translate}} : Mega Dental
            <img class="flag" src="../../../assets/png/flags/france.png" alt="france">
        </div>
        <div>
            {{'product.brand' | translate}} : 3M
        </div>
        <p class="delivery-time">
            {{'product.delivery-under' | translate}} 3 à 5 {{'product.days' | translate}}
            <mat-icon class="material-icons-outlined" aria-hidden="false">local_shipping</mat-icon>
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button [routerLink]="['/product', product.name + product.id]">{{'product.see-offers' |
            translate}}</button>
    </mat-card-actions>
</mat-card>