@import "../style/style.scss";

.filters {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  padding-left: 2rem;

  h2 {
    color: $primary-color;
  }

  h3 {
    margin: 0;
  }

  p > a {
    text-decoration: none;
    color: black;
  }

  ::ng-deep .mat-form-field-outline {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
  }
}
