<div class="filters">
    <h2>Catégories</h2>
    <p> <a href="#">Draps d'examen</a></p>
    <p><a href="#">Gobelets</a></p>
    <p><a href="#">Canules</a></p>
    <p><a href="#">Divers</a></p>
    <p><a href="#">Essuyage</a></p>
    <h2>Filtrer les résultats</h2>
    <h3>Minimum De Commande</h3>
    <mat-form-field appearance="outline">
        <mat-label>pièces</mat-label>
        <input matInput autocomplete="off">
    </mat-form-field>
    <h3>Prix Par Pièce</h3>
    <mat-form-field appearance="outline">
        <mat-label>prix par pièce maximum</mat-label>
        <input matInput autocomplete="off">
        <mat-icon matSuffix>euro</mat-icon>
    </mat-form-field>
    <h3>Vendeurs</h3>
    <mat-checkbox color="primary">Dentalix</mat-checkbox>
    <mat-checkbox color="primary">Mercura</mat-checkbox>
    <mat-checkbox color="primary">Allo Dent</mat-checkbox>
</div>