<div class="product-action">
    <div class="price">{{(product$ | async)?.price | currency}} TTC</div>
    <div class="delivered"><span class="date">{{'product.delivered' | translate}} : 3 - 5 déc. </span><span
            class="detail">Détails</span></div>
    <div class="line"></div>
    <div class="desired-colors">{{'product.desiredColors' | translate}} :</div>
    <div class="desired-colors-value"><span>A1</span><span>A2</span><span>A3</span><span>B1</span><span>C2</span>
    </div>
    <div class="quantity">{{'product.quantity' | translate}} :
        <select [(ngModel)]="productQuantity">
            <option *ngFor="let quantity of quantityMaxByProduct" [value]=quantity>
                {{quantity}}</option>
        </select>
    </div>
    <button class="btn-action add-to-cart" [disabled]=!addProductInCartBtnEnabled (click)=addProductInCart()
        color="primary" mat-raised-button>
        <mat-icon class="icon" class="material-icons-outlined" aria-hidden="false">shopping_cart</mat-icon>
        <span class="label">{{'product.addToCart' | translate}}</span>
    </button>
    <button class="btn-action automate-purchasing" color="primary" mat-raised-button>
        <mat-icon class="icon" class="material-icons-round" aria-hidden="false">autorenew</mat-icon>
        <span class="label">{{'product.automatePurchasing' | translate}}</span>
    </button>
    <button class="btn-action buy-article" color="primary" mat-raised-button>
        <mat-icon class="icon" class="material-icons-round" aria-hidden="false">credit_card</mat-icon>
        <span class="label">{{'product.buyArticle' | translate}}</span>
    </button>
    <div class="line"></div>
    <div class="secure-transaction">
        <mat-icon class="icon" class="material-icons-round" aria-hidden="false">lock</mat-icon>
        <span class="label">{{'product.secureTransaction' | translate}}</span>
    </div>
    <div class="shipped-and-sold"><span class="label">{{'product.shippedAndSoldBy' | translate}} : </span><span
            class="brand">{{(product$ | async)?.brand?.name}}</span></div>
    <div class="guarantee">{{'product.guarantee' | translate}}</div>
    <div class="line"></div>
    <div class="address">
        <mat-icon class="icon" class="material-icons-outlined" aria-hidden="false">place</mat-icon>
        <span>{{'product.delivered' | translate}} à Anthony, Toulouse 31200</span>
    </div>
    <div class="line"></div>
    <button class="btn-action add-to-my-list" color="primary" mat-raised-button>
        <span class="label">{{'product.addToMyList' | translate}}</span>
        <mat-icon class="material-icons-round" aria-hidden="false">keyboard_arrow_down</mat-icon>
    </button>
</div>