@import "../../style/style.scss";

form {
  display: flex;
  flex-direction: column;

  .inputs {
    display: flex;
    justify-content: space-between;
    .input-validation {
      display: flex;
      flex-direction: column;
      width: 48%;
    }
  }

  .password-validation {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;

    .password {
      width: -webkit-fill-available;
      width: -moz-available;
    }
    mat-pass-toggle-visibility {
      position: absolute;
      top: 1.5rem;
      right: 1rem;
      color: #757575;
    }

    mat-password-strength-info {
      position: absolute;
      border-radius: $border-radius;
      top: 4.4rem;
      z-index: 1;
      width: 61%;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        width: 0;
        height: 0;
        border: 12px solid transparent;
        border-bottom-color: #ffffff;
        border-top: 0;
        margin-left: -12px;
        margin-top: -12px;
      }
      &::ng-deep mat-card {
        border-radius: 20px;

        mat-card-content {
          font-size: 0.75rem;
        }
      }

      &::ng-deep mat-icon.mat-primary {
        color: $secondary-color;
      }
    }
    mat-password-strength {
      width: 93%;
      position: absolute;
      top: 3.4rem;

      &::ng-deep {
        mat-progress-bar {
          height: 2px;
          .mat-progress-bar-fill::after {
            background-color: $secondary-color;
          }
        }
      }
    }
  }

  .input {
    cursor: text;
    outline: none;
    border-radius: $border-radius;
    border: 0;
    height: 2.5rem;
    margin-top: 1rem;
    padding-left: 1rem;
    box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.44);
    -webkit-box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.44);
    -moz-box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.44);
  }

  .input-error {
    border: 1px solid red;

    &::placeholder {
      color: red;
      opacity: 1;
    }
    &:-ms-input-placeholder {
      color: red;
    }
    &::-ms-input-placeholder {
      color: red;
    }
  }

  .msg-error {
    display: flex;
    color: red;
    align-items: center;

    .error-icon {
      display: flex;
      align-items: center;
      font-size: 1rem;
    }

    p {
      margin: 0;
    }
  }

  .confirm-btn {
    background-color: $secondary-color;
    color: $primary-color;
    border-radius: $border-radius;
    border: 2px solid #ffffff;
    font-weight: bold;
    font-size: 1.3rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    text-shadow: 0px 0px 4px #ffffff;
    box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.44);
    -webkit-box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.44);
    -moz-box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.44);
  }
}
