<div class="right-buttons">
    <div *ngIf="!isAuth" class="btn" [routerLink]="['auth/signin']">
        <div class="label"><span>Connexion</span></div>
    </div>
    <div *ngIf="isAuth" class="btn account">
        <div class="icon">
            <img src="../../assets/svg/user.svg">
        </div>
        <div class="label">
            <span class="hello">Bonjour</span><span class="my-account">Mon compte</span>
        </div>
    </div>
    <div class="btn package">
        <div class="icon">
            <img src="../../assets/svg/package.svg">
        </div>
        <div class="label"><span>Mes </span><span>commandes</span></div>
    </div>
    <div class="btn cart">
        <div class="icon">
            <img src="../../assets/svg/shopping-cart.svg">
        </div>
        <div class="label"><span>Panier</span></div>
    </div>
</div>