@import "../../style/style.scss";

.right-buttons {
  color: #ffffff;
  display: flex;

  .btn {
    border: 2px transparent solid;
    cursor: pointer;
    display: flex;
    padding: 3px;
    margin-right: 0.9rem;

    &:hover {
      border: 2px white solid;
      border-radius: 10px;
    }

    .icon {
      position: relative;
      align-self: center;
      display: flex;
      padding-right: 0.3rem;

      img {
        height: 2.2rem;
        width: 2.2rem;
      }

      .items-number {
        position: absolute;
        left: 13px;
        top: 5px;
        color: $secondary-color;
      }
    }

    .label {
      display: flex;
      flex-direction: column;
      font-size: medium;

      .hello {
        white-space: nowrap;
      }

      .my-account {
        white-space: nowrap;
        display: flex;
        position: relative;

        .bubble {
          position: absolute;
          background: rgba(255, 255, 255, 0.93);
          color: $primary-color;
          border-radius: 0.4em;
          top: 30px;
          left: 3px;
          -webkit-box-shadow: 0px 0px 25px 1px rgba(0, 0, 0, 0.3);
          -moz-box-shadow: 0px 0px 25px 1px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 25px 1px rgba(0, 0, 0, 0.3);

          ul {
            display: flex;
            margin: 0.5rem 0;
            padding: 0;
            align-items: center;
            flex-direction: column;

            li {
              list-style-type: none;
              cursor: pointer;
              width: 100%;
              text-align: center;
              height: 1.7rem;
              margin: 0 1rem;
              display: flex;
              align-items: center;
              justify-content: center;

              &:hover {
                background-color: $primary-color;
                color: $secondary-color;
              }
            }
            .line {
              border-bottom: 1px solid #d5dbdb;
              width: 90%;
              margin: 0.2rem 0;
              align-self: center;
            }
          }
        }

        .bubble:after {
          content: "";
          position: absolute;
          top: 0;
          left: 56.5%;
          width: 0;
          height: 0;
          border: 10px solid transparent;
          border-bottom-color: rgba(255, 255, 255, 0.93);
          border-top: 0;
          margin-left: -20px;
          margin-top: -10px;
        }
      }

      span {
        font-weight: bold;
        line-height: 1.3rem;
      }
    }
  }
}

::ng-deep {
  &.snackbar-success {
    @extend .snackbar-success;
  }
}
