$enable-responsive-font-sizes: true;
@import "../../../node_modules/bootstrap/scss/bootstrap";

$primary-color: #1b30a2;
$secondary-color: #52d2ac;

$border-radius: max(0px, min(15px, calc((100vw - 4px - 100%) * 9999))) / 15px;

.snackbar-success {
  text-shadow: 0px 0px 3px #000000;
  background: linear-gradient(335deg, #52d2ac 0%, #3399ad 43%, #1b30a2 100%);
  color: #ffffff;
  font-weight: bold;
  border: 2px solid #ffffff;
}

.snackbar-error {
  text-shadow: 0px 0px 3px #000000;
  background: #ff7e79;
  color: #ffffff;
  font-weight: bold;
  border: 2px solid #ffffff;
}

.snackbar-warning {
  text-shadow: 0px 0px 3px #000000;
  background: linear-gradient(335deg, #f0932b 36%, #1b30a2 90%);
  color: #ffffff;
  font-weight: bold;
  border: 2px solid #ffffff;
}
