@import "../../style/style.scss";

form {
  display: flex;
  flex-direction: column;

  .msg-error {
    display: flex;
    color: red;
    align-items: center;

    .error-icon {
      display: flex;
      align-items: center;
      font-size: 1rem;
    }
    p {
      margin: 0;
    }
  }

  .input {
    cursor: text;
    outline: none;
    border-radius: $border-radius;
    border: 0;
    padding: 1rem;
    margin-top: 1rem;
  }

  .input-error {
    border: 1px solid red;

    &::placeholder {
      color: red;
      opacity: 1;
    }
    &:-ms-input-placeholder {
      color: red;
    }

    &::-ms-input-placeholder {
      color: red;
    }
  }

  .msg-error {
    display: flex;
    color: red;
    align-items: center;

    .error-icon {
      display: flex;
      align-items: center;
      font-size: 1rem;
    }
    p {
      margin: 0;
    }
  }

  .options {
    display: flex;
    justify-content: space-between;
    margin: 0.3rem;
    font-weight: bold;
    color: #ffffff;

    .remember-me {
      &::ng-deep.mat-checkbox-frame {
        border-color: #ffffff;
        border-width: 1px;
      }
    }

    .password-forget {
      cursor: pointer;
    }
  }

  .confirm-btn {
    background-color: $secondary-color;
    color: $primary-color;
    border-radius: $border-radius;
    border: 2px solid #ffffff;
    font-weight: bold;
    font-size: 1.3rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
  }
}
