<div *ngFor="let productsCart of productsCartArray; let indexParent = index">
    <div class="card" *ngIf="productsCart.length > 0">
        <div class="card-content" *ngFor="let productCart of productsCart; let indexChild = index">
            <div class="shipping" *ngIf="indexChild === 0">
                <div class="estimated-date">{{'cart.estimated-date' | translate}} : 14 mars 2021 - 18 mars 2021</div>
                <div class="shipped-by">Expédié par {{productCart.product?.seller?.name}} <img class="flag"
                        src="../../../assets/png/flags/france.png" alt="france"></div>
            </div>
            <div class="row detail">
                <div class="col-sm-3 d-flex align-self-center pr-0">
                    <mat-checkbox class="align-self-center" checked="true">
                    </mat-checkbox>
                    <div class="img-container p-2">
                        <img class="img-fluid" src="{{productCart.product?.img}}" alt="{{productCart.product?.name}}">
                    </div>
                </div>
                <div class="align-self-star d-flex flex-column py-3 pr-0"
                    [ngClass]="{'col-sm-5': indexChild === 0, 'col-sm-auto': indexChild !== 0}">
                    <div class="title-and-price">
                        <div class="title-product">{{productCart.product?.name}}</div>
                        <div class="price-product">
                            {{productCart.totalPrice | currency}}
                            ({{productCart.product?.price |
                            currency}}/{{'cart.unit' | translate}})</div>
                        <div class="discount-price-product" *ngIf="productCart.totalDiscountPrice > 0">
                            {{productCart.totalDiscountPrice | currency}}
                            ({{productCart.product?.discountPrice |
                            currency}}/{{'cart.unit' | translate}})</div>
                    </div>
                    <div class="row align-self-start px-3">
                        <div class="quantity col-sm-auto pl-1 pr-0" *ngIf="productCart.quantity < 10">
                            {{'cart.qty' | translate}}:
                            <select
                                (change)="updateQuantityProductCart(productsCart, productCart, $event.target.value)">
                                <option *ngFor="let quantity of quantityMaxByProduct"
                                    [selected]="productCart.quantity==quantity" [value]=quantity>
                                    {{quantity !== 10 ? quantity : quantity + '+'}}
                                </option>
                            </select>
                        </div>
                        <div class="col-sm-4 d-flex px-0" *ngIf="productCart.quantity >= 10">
                            <input name="quantityViaInput" autocomplete="off" [value]=productCart.quantity
                                #quantityViaInput class="input-quantity mr-1" type="text" maxlength="3">
                            <button
                                (click)="updateQuantityProductCart(productsCart, productCart, quantityViaInput.value)"
                                color=primary class="confirm-quantity" matRipple [matRippleUnbounded]=false
                                [matRippleColor]="rippleColor">OK</button>
                        </div>
                        <span class="vertical-line"></span>
                        <span class="remove-product col-sm-auto align-self-center p-0"
                            (click)="removeProduct(productCart.product?.id, indexParent, indexChild, productsCartArray)">{{'cart.remove-product'
                            | translate}}</span>
                    </div>
                </div>
                <div class="shipping-method col-sm-4 pt-3" *ngIf="indexChild === 0">
                    <div class="shipping-title">{{'cart.shipping-method' | translate}} :</div>
                    <div class="radio-button row">
                        <mat-radio-button class="col-sm-auto pr-0" name="{{indexParent + '' + indexChild}}"
                            checked="true">
                            <span class="radio-button-label">Nom Transporteur 1, Prix, date de livraison estimé /ou
                                garantie.</span>
                        </mat-radio-button>

                    </div>
                    <div class="radio-button row">
                        <mat-radio-button class="col-sm-auto pr-0" name="{{indexParent + '' + indexChild}}">
                            <span class="radio-button-label">Nom Transporteur 2, Prix, date de livraison estimé /ou
                                garantie.</span>
                        </mat-radio-button>
                    </div>
                </div>
            </div>
            <div class="half-line" [ngClass]='{"line": indexChild === productsCart.length-1}'></div>
            <div class="free-shipping-msg" *ngIf="indexChild === productsCart.length-1">Il manque <span
                    class="important">100€</span> pour
                bénéficier de la livraison
                gratuite chez
                <span class="important">{{productCart.product?.seller?.name}}</span>
            </div>
        </div>
    </div>
</div>