<div class="banner-card" [ngClass]="[backgroundClass]">
    <a class="title" [routerLink]="['/products']"><img class="icon" src={{icon}}>
        <span>{{title}}</span>
    </a>
    <div class="cards" *ngIf="products && products.length > 0">
        <div class="card" *ngFor="let product of products">
            <div class="product-name">{{product.productName}}</div>
            <img class="product-img" src="{{product.productImg}}">
            <div class="price">
                <div class="base">{{product.price | currency}}</div>
                <div class="discount">{{product.discountPrice | currency}}</div>
            </div>
        </div>
    </div>