<div class="banner-card" [ngClass]="[backgroundClass]">
    <a class="title" [routerLink]="['/products']"><img class="icon" src={{icon}}>
        <span>{{title | translate}}</span>
    </a>
    <div class="cards" *ngIf="products && products.length > 0">
        <div class="card" *ngFor="let product of products | slice:start:end">
            <div class="product-name">{{product.name}}</div>
            <img class="product-img" src="{{product.img}}">
            <div class="price">
                <div class="base" *ngIf="promo">{{product.price | currency}}</div>
                <div class="discount">{{product.discountPrice | currency}}</div>
            </div>
        </div>
    </div>