<div>
    <div>
        <h2>Connexion</h2>
        <form [formGroup]="signinForm" (ngSubmit)="onSubmit()">
            <div>
                <label for="email">Adresse mail</label>
                <input type="text" id="email" formControlName="email">
            </div>
            <div>
                <label for="password">Mot de passe</label>
                <input type="password" id="password" formControlName="password">
            </div>
            <button type="submit" [disabled]="signinForm.invalid">Valider</button>
        </form>
        <p>{{ errorMessage }}</p>
    </div>
</div>