<div class="home">
    <img class="home-banner" src="https://picsum.photos/1500/300">
    <app-home-card *ngIf="products && products.length > 0" [title]="'Promos & Ventes Flash'"
        [icon]="'../../assets/png/promo.png'" [backgroundClass]="'backgournd-card-1'" [products]=products>
    </app-home-card>
    <app-home-card *ngIf="products && products.length > 0" [title]="'Les mieux notés'"
        [icon]="'../../assets/png/ranking.png'" [backgroundClass]="'backgournd-card-2'" [products]=products>
    </app-home-card>
    <app-home-card *ngIf="products && products.length > 0" [title]="'Recommandations'"
        [icon]="'../../assets/png/top-selection.png'" [backgroundClass]="'backgournd-card-1'" [products]=products>
    </app-home-card>
    <app-home-card *ngIf="products && products.length > 0" [title]="'Nouveautés'" [icon]="'../../assets/png/new.png'"
        [backgroundClass]="'backgournd-card-2'" [products]=products>
    </app-home-card>
    <app-home-card *ngIf="products && products.length > 0" [title]="'Vendeurs du moment'"
        [icon]="'../../assets/png/shop.png'" [backgroundClass]="'backgournd-card-1'" [products]=products>
    </app-home-card>
    <app-home-card *ngIf="products && products.length > 0" [title]="'Notre sélection éco-responsable'"
        [icon]="'../../assets/png/eco.png'" [backgroundClass]="'backgournd-card-2'" [products]=products></app-home-card>
    <div class="advantages">
        <div class="advantage">
            <img class="icon" src="../../assets/svg/saving.svg">
            <div class="title">UN GAIN D’ARGENT</div>
            <div class="description">Optimisez vos dépenses en prenant le contrôle et sélectionnez vos références au
                meilleur rapport
                qualité prix.</div>
        </div>
        <div class="advantage">
            <img class="icon" src="../../assets/svg/time.svg">
            <div class="title">UN GAIN DE TEMPS</div>
            <div class="description">Commandez en une seule fois auprès de plusieurs fournisseurs, en quelques clics ou
                en automatisants vos
                commandes.</div>
        </div>
        <div class="advantage">
            <img class="icon" src="../../assets/svg/certified-sellers.svg">
            <div class="title">DES VENDEURS CERTIFIÉS</div>
            <div class="description">Nous prenons soin de sélectionner des vendeurs certifiés afin de vous garantir une
                large sélection de
                produits et le meilleur service.</div>
        </div>
        <div class="advantage">
            <img class="icon" src="../../assets/svg/privacy.svg">
            <div class="title">DES DONNÉES SÉCURISÉES</div>
            <div class="description">Nous accordons une très grande importance à la confidentialité et la sécurité de
                vos données et de vos
                paiements.</div>
        </div>
        <div class="advantage">
            <img class="icon" src="../../assets/svg/feedback.svg">
            <div class="title">L’AVIS DES PRATICIENS</div>
            <div class="description">Profitez des notes et des commentaires de vos confrères afin de vous assurer de
                faire les bon choix.
            </div>
        </div>
    </div>
</div>