@import "../style/style.scss";

.home {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: calc(100vh - 7rem);
  justify-content: center;

  .img-container {
    padding: 1.5rem 1rem;
    .img-fluid {
      border-radius: $border-radius;
      box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.44);
      -webkit-box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.44);
      -moz-box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.44);
    }
  }

  mat-spinner {
    align-self: center;
  }

  .advantages {
    display: flex;
    justify-content: space-evenly;
    margin: 1.5rem 0;

    .advantage {
      display: flex;
      flex-direction: column;
      width: 15%;
      text-align: center;
      align-items: center;

      .icon {
        width: 6rem;
        filter: drop-shadow(0px 6px 8px #000000);
        -webkit-filter: drop-shadow(0px 6px 8px #000000);
        -moz-filter: drop-shadow(0px 6px 8px #000000);
        margin-bottom: 1rem;
      }
      .title {
        font-size: large;
        font-weight: bold;
        color: $primary-color;
      }
      .description {
        font-size: medium;
        color: $primary-color;
      }
    }
  }
  app-home-card {
    display: flex;
    justify-content: center;
  }
}
