@import "../style/style.scss";

.home {
  .img-container {
    padding: 1.5rem 1rem;
    .img-fluid {
      border-radius: $border-radius;
      box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.44);
      -webkit-box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.44);
      -moz-box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.44);
    }
  }

  .advantages {
    margin-bottom: 1rem;
    .advantage {
      display: flex;
      flex-direction: column;
      align-items: center;

      .icon {
        width: 6rem;
        filter: drop-shadow(0px 6px 8px #000000);
        -webkit-filter: drop-shadow(0px 6px 8px #000000);
        -moz-filter: drop-shadow(0px 6px 8px #000000);
      }
      .title {
        @include font-size(1.3rem);
        font-weight: bold;
        color: $primary-color;
      }
      .description {
        @include font-size(1rem);
        color: $primary-color;
        text-align: center;
      }
    }
  }
}

mat-spinner {
  position: absolute;
  top: 45%;
  left: 45%;
}
