<div class="home">
    <div class="home-banner"></div>
    <app-home-card *ngIf="productsList && productsList.length > 0" [title]="'home.banner.promo'"
        [icon]="'../../assets/png/promo.png'" [backgroundClass]="'backgournd-card-1'" [products]=productsList [start]=0
        [end]=6 [promo]=true>
    </app-home-card>
    <app-home-card *ngIf="productsList && productsList.length > 0" [title]="'home.banner.ranking'"
        [icon]="'../../assets/png/ranking.png'" [backgroundClass]="'backgournd-card-2'" [products]=productsList
        [start]=6 [end]=12>
    </app-home-card>
    <app-home-card *ngIf="productsList && productsList.length > 0" [title]="'home.banner.top-selection'"
        [icon]="'../../assets/png/top-selection.png'" [backgroundClass]="'backgournd-card-1'" [products]=productsList
        [start]=12 [end]=18>
    </app-home-card>
    <app-home-card *ngIf="productsList && productsList.length > 0" [title]="'home.banner.news'"
        [icon]="'../../assets/png/new.png'" [backgroundClass]="'backgournd-card-2'" [products]=productsList [start]=18
        [end]=24>
    </app-home-card>
    <app-home-card *ngIf="productsList && productsList.length > 0" [title]="'home.banner.best-sellers'"
        [icon]="'../../assets/png/shop.png'" [backgroundClass]="'backgournd-card-1'" [products]=productsList [start]=24
        [end]=30>
    </app-home-card>
    <app-home-card *ngIf="productsList && productsList.length > 0" [title]="'home.banner.eco'"
        [icon]="'../../assets/png/eco.png'" [backgroundClass]="'backgournd-card-2'" [products]=productsList [start]=30
        [end]=36>
    </app-home-card>
    <div class="advantages">
        <div class="advantage" *ngFor="let advantage of advantages">
            <img class="icon" [src]="advantage.icon">
            <div class="title">{{(advantage.title | translate) | uppercase}}</div>
            <div class="description">{{advantage.description | translate}}</div>
        </div>
    </div>
</div>