@import "../../../style/style.scss";

.searchbar {
  background-color: #ffffff;
  border-radius: 40px;
  display: flex;
  height: 2.5rem;
  overflow: hidden;
  padding: 0 1.3rem;
  position: relative;
  align-items: center;

  input {
    border: 0;
    width: 90%;
    color: #414856;
    cursor: text;
    outline: none;
  }

  .right-side {
    background: linear-gradient(
      5deg,
      rgba(82, 210, 172, 1) 0%,
      rgba(51, 181, 179, 1) 44%,
      rgba(27, 48, 162, 1) 100%
    );
    display: flex;
    justify-content: center;
    position: absolute;
    right: 3px;
    width: 10%;
    cursor: pointer;
    border-radius: 40px;
    height: 85%;

    .search-icon {
      align-self: center;
      color: #ffffff;
      font-size: xx-large;
      font-weight: bold;
      padding-bottom: 0.4rem;
    }
  }
}
